$color-periwinkle-gray: #b2c7e2;
$color-roti: #c7b550;
$color-buttered-rum: #ac7510;
$color-white: #ffffff;
$color-anzac: #e0be4f;
$color-anzac-dark: #f3ba3e4d;
$color-anzac-dark1: #eecd624d;
$color-gray: #808080;
$color-earls-green: #c5a53a;
$color-yukon-gold: #865e06;
$color-fiord: #415a67;
$color-pelorous: #42bcbd;
$color-charm: #d76d93;
$color-affair: #7e4b83;
$color-confetty: #eacb5f;
$color-manatee: #8a8fa2;
