extends _component/layout/page

block config
  -
    var myTitleForGoogleSearch = 'My awesome CV';
    var myDescriptionForGoogleSearch = 'This is made using HTL5 and CSS3 tehniques';
block content
  h1 this is